{
  "arrowParens": "always",
  "bracketSpacing": false,
  "jsxSingleQuote": true,
  "printWidth": 90,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
